﻿@model  IEnumerable<Vidly.Models.Movie>
@{
	ViewBag.Title = "Movies";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@foreach (var movie in Model)
{
	<tr>
		<td>@movie.Name</td>
		<td>@Html.ActionLink(movie.Name, "Details", "Movies", new { id = movie.Id }, null)</td>
		<td>@movie.Genres.Name</td>
	</tr>
}

