﻿@model  IEnumerable<Vidly.Models.Movie>
@{
	ViewBag.Title = "Movies";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ActionLink("New Movie", "New", "Movie", new { @class= "btn btn-primary" })
<table>
	<thead>
		<tr>
			<th>Movie</th>
			<th>Genre</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var movie in Model)
		{
			<tr>
				<td>@Html.ActionLink(movie.Name, "Edit", "Movie", new { id = movie.Id }, null)</td>
				<td>@movie.Genres.Name</td>
			</tr>
		}
	</tbody>
</table>

